In [1]:
import pandas as pd
import numpy as np
%load_ext autoreload
%matplotlib inline
%autoreload 2
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [2]:
import pipeline_tools as pt

In [3]:
df = pd.DataFrame({
    'a': np.random.rand(5),
    'b': np.random.rand(5),
    'c': np.random.rand(5),
    'd': np.random.rand(5),
})

In [4]:
union = pt.FeatureUnionDf([
    ('select_col', pt.SelectColumns(['a', 'b'])),
    ('select_col_2', pt.SelectColumns(['c', 'd'])),

])

In [5]:
union.fit(df)

FeatureUnionDf(n_jobs=None,
               transformer_list=[('select_col',
                                  SelectColumns(columns=['a', 'b'])),
                                 ('select_col_2',
                                  SelectColumns(columns=['c', 'd']))],
               transformer_weights=None, verbose=False)

In [6]:
import sklearn
sklearn.__version__

'0.21.3'

In [7]:
union.transform(df)

          a         b         c         d
0  0.942655  0.063902  0.162465  0.152850
1  0.617055  0.644011  0.073588  0.240837
2  0.958848  0.618342  0.560828  0.987282
3  0.436570  0.642540  0.377250  0.136860
4  0.060060  0.442104  0.995695  0.238923

In [8]:
union.fit_transform(df)

stu

          a         b         c         d
0  0.942655  0.063902  0.162465  0.152850
1  0.617055  0.644011  0.073588  0.240837
2  0.958848  0.618342  0.560828  0.987282
3  0.436570  0.642540  0.377250  0.136860
4  0.060060  0.442104  0.995695  0.238923